/*
* Default Styles
*/
html,body{
    height:100%;
    width:100%;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(58, 57, 57);
}

/*
* Header Styles
*/
#HeaderContainer{
    background-color: black;
}
h1{
    margin: 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(102, 99, 99);
    font-size: 4em;
}

/*
* Content Container Styles
*/
#Content{
    width: 100%;
    min-height: 100%;
    text-align: center;
    padding-bottom: 2.5em;
}

/* 
* Following the jquery book, it recommended this for 
* photo gallerys. Tried doing some of the more advanced stuff but
* didn't understand parts.  
*/
#Content.is-loading:after{ 
    content: url(/images/loading.gif);
    position: absolute;
    top: 0;
    right: 0;
}

/*
* Content Styles
*/
#AlbumContainer{
    width: 700px;
    margin-top: 8em;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    opacity: 0.6;
    display: block;
    overflow: hidden;
    padding: 1em;
}
#ArtistInfo{
    float: left; 
}
#ArtistInfo, h3, p, label, h2, br {
    color: rgb(102, 99, 99);
    margin: auto;
    font-size: 130%;
}
#Album{
    float: right;
}
a.active{
    opacity: 0.3;
}
#YoutubeLink:hover{
    color: green;
}
.link {
    color: black;
}
.error-msg {
    color: aliceblue;
}
#songForm{
    width: 470px;
    height: 200px;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 3%;
    background-color: black;
    opacity: 0.6;
    display: block;
    overflow: hidden;

}

/*
* Song display div
*/
#songDiv{
    width: 470px;
    height: 200px;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: black;
    opacity: 0.6;
    overflow: hidden;
}

/*
* Footer styles, duh
*/
footer {
    clear: both;
    position: relative;
    bottom: auto;
    width: 100%;
    height: 5em; 
    background-color: black;
  }


